---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---
<tr>
  <td width="50%" valign="top"><b>Cornell University</b>, US<br>
  Ph.D. in Computer Science<br>
  Accumulated GPA: 4.0/4.0
  </td>
  <td width="38%" align="right" valign="top">Aug. 2021 - Present</td>
  <td width="12%" rowspan="2" valign="top"><img src="/images/cu-logo.png" width="100%" style="display: flex; justify-content: center;"></td>
</tr>

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

